.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.58);
  transform-style: preserve-3d;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 1rem 0.5rem 0 0.5rem;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  align-self: center;
  margin: 1rem;
}

.face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
